---
import AboutImage from "@components/AboutImage.astro";
import Experience from "@components/Experience.astro";
import Layout from "@layout/Layout.astro";
---

<Layout
  pageTitle="About"
  description="I am Arturo Cabrera. I live in Oaxaca, Mexico, where I work on my digital company. "
  type="content"
>
  <main class="px-8">
    <AboutImage />
    <Experience />
  </main>
</Layout>
